<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store products</title>

    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>

    <div class="header">
        <header>
            <h1>Profile</h1>
        </header>
        <div class="condition-auth">
            {{if .UserName}}
            <p>Привет, {{.UserName}}! <a href="/logout">Выйти</a></p>
            {{else}}
            <p> Пожалуйста, <a href="/login">войдите</a></p>
            {{end}}
        </div>
    </div>

    {{ template "navigation" . }}

    <div class="page-wrapper">
        <div class="profile-container">

            <h2>Personal account</h2>

            <div class="profile-list">
                <div class="profile">
                    <h3>Profile</h3>
                    <p>Fiz face</p>
                    <h5>ID: {{.User_ID}}</h5>
                    <h4>Name: {{.UserName}}</h4>
                    <h5>Email: {{.Email}}</h5>
                    <h4>F.L.M. name: {{.First_name}} {{.Last_name}} {{.Middle_name}}</h4>
                    <h5>Phone: {{.Phone}}</h5>
                    <button class="buy-button" onclick="window.location.href='/account/edit'">Edit</button>
                </div>
            
                <div class="bonus">
                    <h3>Bonus program</h3>
                    <h4>Bonuses: 2 567</h4>
                    <button class="buy-button">button</button>
                </div>

                <div class="cart">
                    <h3>Cart</h3>
                    <h4>Products: no</h4>
                    <button class="buy-button" onclick="window.location.href='/cart'">Pay</button>
                </div>

                <div class="history">
                    <h3>History cart</h3>
                    <h4>Orders: no</h4>
                    <button class="buy-button">button</button>
                </div>

                <div class="favorites">
                    <h3>Избранное</h3>
                    <h4>Products: no</h4>
                    <button class="buy-button">button</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Магазин товаров. Все права защищены.</p>
    </footer>
</body>
</html>
