<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование товара</title>
    <link rel="icon" href="/static/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/main.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #b9b9b9;
        }





    </style>
    <script>
        function makeEditable(element) {
            var currentValue = element.innerText;
            element.innerHTML = `<input type="text" value="${currentValue}" onblur="updateValue(this)" />`;
            element.querySelector('input').focus();
        }

        function updateValue(input) {
            var newValue = input.value;
            var element = input.parentElement;
            element.innerText = newValue;
            updateHiddenFields();
        }

        function updateHiddenFields() {
            var cells = document.querySelectorAll('.editable');
            document.getElementById('name').value = cells[0].innerText; // Name
            document.getElementById('price').value = cells[1].innerText; // Price
            document.getElementById('quantity').value = cells[2].innerText; // Quantity
        }

        function addField() {
            var table = document.getElementById("dynamic-fields").getElementsByTagName('tbody')[0];
            var newRow = table.insertRow();
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            var cell3 = newRow.insertCell(2);
            cell1.innerHTML = '<input type="text" name="field-name">';
            cell2.innerHTML = '<input type="text" name="field-value">';
            cell3.innerHTML = '<button type="button" onclick="removeRow(this)">Remove</button>';
        }

        function removeRow(button) {
            var row = button.parentNode.parentNode;
            var prevRow = row.previousElementSibling;
            row.parentNode.removeChild(row);
            if (prevRow && prevRow.rowIndex % 2 === 0) {
                row.parentNode.removeChild(prevRow);
            }
        }


        
        function addDescr() {
                var container = document.querySelector('.specific-container');
                var newFieldNameDiv = document.createElement('div');
                var newFieldValueDiv = document.createElement('div');
                
                newFieldNameDiv.className = 'field-row';
                newFieldValueDiv.className = 'field-row';
                
                newFieldNameDiv.innerHTML = '<input type="text" name="field-name-dep" placeholder="Field Name">';
                newFieldValueDiv.innerHTML = '<input type="text" name="field-value-dep" placeholder="Field Value"><button type="button" onclick="removeRowDep(this)">Remove</button>';
                
                container.insertBefore(newFieldNameDiv, container.querySelector('.button-container'));
                container.insertBefore(newFieldValueDiv, container.querySelector('.button-container'));
            }

            function removeRowDep(button) {
                var valueDiv = button.parentNode;
                var nameDiv = valueDiv.previousElementSibling;
        
                nameDiv.parentNode.removeChild(nameDiv);
                valueDiv.parentNode.removeChild(valueDiv);
            }




            
            function uploadImage() {
            const input = document.getElementById('itemImage');
            const file = input.files[0];
            if (!file) {
                alert('Пожалуйста, выберите файл для загрузки.');
                return;
            }

            const img = new Image();
            const reader = new FileReader();
            
            reader.onload = function(e) {
                img.src = e.target.result;
            };

            img.onload = function() {
                const canvas = document.createElement('canvas');
                const ctx = canvas.getContext('2d');

                // Задайте размер изображения
                const MAX_WIDTH = 350;
                const MAX_HEIGHT = 500;
                let width = img.width;
                let height = img.height;

                if (width > MAX_WIDTH) {
                    height *= MAX_WIDTH / width;
                    width = MAX_WIDTH;
                }

                if (height > MAX_HEIGHT) {
                    width *= MAX_HEIGHT / height;
                    height = MAX_HEIGHT;
                }

                canvas.width = width;
                canvas.height = height;
                ctx.drawImage(img, 0, 0, width, height);

                canvas.toBlob(function(blob) {
                    const formData = new FormData();
                    formData.append('itemImage', blob, file.name);

                    fetch('/upload-image', {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => response.text())
                    .then(result => {
                        // Обновляем значение hidden поля Image_url
                        document.getElementById('Image_url').value = result;
                        document.getElementById('upload-status').innerText = 'Загрузка успешна!';
                        
                        // Отображаем изображение
                        const img = document.getElementById('uploadedImage');
                        img.src = URL.createObjectURL(blob);
                        img.style.display = 'block';
                    })
                    .catch(error => {
                        console.error('Ошибка загрузки изображения:', error);
                        document.getElementById('upload-status').innerText = 'Ошибка загрузки изображения';
                    });
                }, 'image/jpeg'); // Измените формат по необходимости
            };

            reader.readAsDataURL(file);
        }
</script>

</head>
<body>
    <div class="header">
        <header>
            <h1>Редактирование товара</h1>
        </header>
    </div>
    {{ template "navigation" . }}
    <div class="page-wrapper">
        <div class="list-container">
            <h2>Редактирование товара:</h2>
            <form action="/update-item/{{.ItemMongo.ID.Hex}}" method="post">
                <div class="profile-list">
                    <div class="image-upload">
                        <label for="itemImage">Загрузить новое изображение:</label>
                        <input type="file" name="itemImage" id="itemImage" />
                        <input type="hidden" name="Image_url" id="Image_url" />
                        <button type="button" onclick="uploadImage()">Загрузить</button>
                        <div id="upload-status"></div>
                        <img id="uploadedImage" src="" alt="Uploaded Image" style="display:none;">
                    </div>
                    
                    

                    <div class="product-description">
                        <input type="hidden" id="name" name="name" value="{{.ItemPsql.Name}}">
                        <input type="hidden" id="price" name="price" value="{{.ItemPsql.Price}}">
                        <input type="hidden" id="quantity" name="quantity" value="{{.ItemMongo.Quantity}}">
                        <div class="Name-item">
                            <h2><div class="editable" onclick="makeEditable(this)">{{.ItemPsql.Name}}</div></h2>
                            <h4>⭐️4,7 - 924 отзыва 🛣 18 вопросов</h4>
                        </div>
                        
                        <table class="custom-table">
                            <tr class="custom-row">
                                <td class="custom-cell">О товаре</td>
                                <td class="custom-cell">Перейти к описанию > </td>
                            </tr>
                        </table>
                        
                        <table id="dynamic-fields">
                            <thead>
                                <tr>
                                    <th>Field Name</th>
                                    <th>Field Value</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range .ItemMongo.DynamicFields}}
                                <tr>
                                    <td><input type="text" name="field-name" value="{{.FieldName}}"></td>
                                    <td><input type="text" name="field-value" value="{{.FieldValue}}"></td>
                                    <td><button type="button" onclick="removeRow(this)">Remove</button></td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                        <button type="button" onclick="addField()">Add Field</button>

                        <button type="submit">Submit</button>
                    </div>

                    <div class="pay-box">
                        <h3><div class="editable" onclick="makeEditable(this)">$ {{.ItemPsql.Price}}</div></h3>
                        <button class="buy-button">Добавить в корзину</button>
                        <h4></h4>
                        <button class="buy-button">Купить в один клик</button>
                        <h3><div class="editable" onclick="makeEditable(this)">Available quantity: {{.ItemMongo.Quantity}}</div></h3>
                    </div>

                    <div class="description">
                        <div class="specific-container">
                            {{range .ItemMongo.DescriptionFields}}
                            <div class="field-row">
                                <input type="text" name="field-name-dep" value="{{.NameDep}}">
                            </div>
                            <div class="field-row">
                                <input type="text" name="field-value-dep" value="{{.ValueDep}}">
                                <button type="button" onclick="removeRowDep(this)">Remove</button>
                            </div>
                            {{end}}
                            <div class="button-container">
                                <button type="button" onclick="addDescr()">Add description</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    
    
    <footer>
        <p>&copy; 2024 Магазин товаров. Все права защищены.</p>
    </footer>
</body>
</html>
