<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оформление заказа</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="header">
        <header>
            <h1>Create item</h1>
        </header>
        <div class="condition-auth">
            {{if .UserName}}
            <p>Привет, {{.UserName}}! <a href="/logout">Выйти</a></p>
            {{else}}
            <p> Пожалуйста, <a href="/login">войдите</a></p>
            {{end}}
        </div>
    </div>

    {{ template "navigation" . }}

    <div class="page-wrapper">
        <div class="list-container">
            <h2>Создание товара:</h2>

            <div class="profile-list">
                <div class="img-item">
                    <img src="/static/img/plac1.webp" alt="plac1" class="item-image">
                </div>
                    <div class="product-description">


                       
 

                        <div class="Name-item">
                            <h2>{{.Item.Name}}</h2>
                            <h4>⭐️4,7 - 924 отзыва 🛣 18 вопросов</h4>
                        </div>
                        <table class="custom-table">
                            <tr class="custom-row">
                                <td class="custom-cell">О товаре</td>
                                <td class="custom-cell">Перейти к описанию > </td>
                            </tr>
                        </table>

                        <table class="custom-table">
                            <tr class="custom-row">
                                <td class="custom-cell">Позиция 1</td>
                                <td class="custom-cell">Описание 1</td>
                            </tr>
                            <tr class="custom-row">
                                <td class="custom-cell">Позиция 2</td>
                                <td class="custom-cell">Описание 2</td>
                            </tr>
                            <tr class="custom-row">
                                <td class="custom-cell">Позиция 3</td>
                                <td class="custom-cell">Описание 3</td>
                            </tr>
                            <tr class="custom-row">
                                <td class="custom-cell">Позиция 4</td>
                                <td class="custom-cell">Описание 4</td>
                            </tr>
                            <tr class="custom-row">
                                <td class="custom-cell">Test</td>
                                <td class="custom-cell">Test</td>
                            </tr>
                        </table>
                    </div>

                    <div class="pay-box">
                        <h3>{{.Item.Price}} $</h3>
                        <button class="buy-button">Добавить в корзину</button>
                        <h3></h3>
                        <button class="buy-button">Купить в один клик</button>
                    </div>

                    <div class="description">
                        <div class="specific-container">
                            <h3>Описание</h3>
                            <p>Наушники беспроводные F9 - гаджет для тех, кто ни дня не может прожить без музыки. Хороший звук, 
                                чистые басы и долгое время работы - что еще нужно для классного времяпровождения? Bluetooth наушники 
                                совместимы со всеми моделями телефонов и смартфон Андроид. Подойдет гарнитура и для всех видов ПК: 
                                компьютеров, ноутбуков, планшетов.</p>
                            <h3>Совместимые устройства</h3>
                            <p>Любые телефоны, смартфоны, планшеты, ПК и консоли соединение происходит по Bluetooth Huawei Honor 
                                BBK Xiaomi Blackview Cubot DOOGEE AGM Oukitel Samsung Apple Tecno Poco Infinix Vivo ZTE</p>


                                <table class="custom-table">
                                    <tr class="custom-row">
                                        <td class="custom-cell">Название</td>
                                        <td class="custom-cell">Категория</td>
                                        <td class="custom-cell">Цена</td>
                                        <td class="custom-cell">Бренд</td>
                                        <td class="custom-cell">Модель</td>
                                        <td class="custom-cell">Экран</td>
                                        <td class="custom-cell">Resolution</td>
                                        <td class="custom-cell">Refresh rate</td>
                                        <td class="custom-cell">SmartTV</td>
                                        <td class="custom-cell">Отзывы</td>
                                    </tr>
                                    <tr class="custom-row">
                                        <td class="custom-cell">{{.Item.Name}}</td>
                                        <td class="custom-cell">{{.Item.Category}}</td>
                                        <td class="custom-cell">{{.Item.Price}}</td>
                                        <td class="custom-cell">{{.Item.Specifications.Brand}}</td>
                                        <td class="custom-cell">{{.Item.Specifications.Model}}</td>
                                        <td class="custom-cell">{{.Item.Specifications.ScreenSize}}</td>
                                        <td class="custom-cell">{{.Item.Specifications.Resolution}}</td>
                                        <td class="custom-cell">{{.Item.Specifications.RefreshRate}}</td>
                                        <td class="custom-cell">{{.Item.Specifications.SmartTV}}</td>
                                        <td class="custom-cell">
                                            {{range .Item.Reviews}}
                                                <p><strong>{{.User}}</strong>: {{.Rating}} - {{.Comment}}</p>
                                            {{end}}
                                        </td>
                                    </tr>
                                </table>

                                <h3>==============================</h3>

                            
                        <div class="table-container">
                            <div class="Name-item">
                                <table class="custom-table">
                                    <tr class="custom-row">
                                        <td class="custom-cell">Название</td>
                                        <td class="custom-cell">{{.Item.Name}}</td>
                                    </tr>
                                    <tr class="custom-row">
                                        <td class="custom-cell">Категория</td>
                                        <td class="custom-cell">{{.Item.Category}}</td>
                                    </tr>
                                    <tr class="custom-row">
                                        <td class="custom-cell">Цена</td>
                                        <td class="custom-cell">{{.Item.Price}}</td>
                                    </tr>
                                    <tr class="custom-row">
                                        <td class="custom-cell">Бренд</td>
                                        <td class="custom-cell">{{.Item.Specifications.Brand}}</td>
                                    </tr>
                                    <tr class="custom-row">
                                        <td class="custom-cell">Модель</td>
                                        <td class="custom-cell">{{.Item.Specifications.Model}}</td>
                                    </tr>
                                    <tr class="custom-row">
                                        <td class="custom-cell">Экран</td>
                                        <td class="custom-cell">{{.Item.Specifications.ScreenSize}}</td>
                                    </tr>
                                    <tr class="custom-row">
                                        <td class="custom-cell">Resolution</td>
                                        <td class="custom-cell">{{.Item.Specifications.Resolution}}</td>
                                    </tr>
                                    <tr class="custom-row">
                                        <td class="custom-cell">Refresh rate</td>
                                        <td class="custom-cell">{{.Item.Specifications.RefreshRate}}</td>
                                    </tr>
                                    <tr class="custom-row">
                                        <td class="custom-cell">SmartTV</td>
                                        <td class="custom-cell">{{.Item.Specifications.SmartTV}}</td>
                                    </tr>
                                </table>
                            </div>        


                            
                            <div class="Name-item">
                                <table class="custom-table">
                                    <tr class="custom-row">
                                        <td class="custom-cell">Название</td>
                                        <td class="custom-cell">{{.Item.Name}}</td>
                                    </tr>
                                    <tr class="custom-row">
                                        <td class="custom-cell">Категория</td>
                                        <td class="custom-cell">{{.Item.Category}}</td>
                                    </tr>
                                    <tr class="custom-row">
                                        <td class="custom-cell">Цена</td>
                                        <td class="custom-cell">{{.Item.Price}}</td>
                                    </tr>
                                    <tr class="custom-row">
                                        <td class="custom-cell">Бренд</td>
                                        <td class="custom-cell">{{.Item.Specifications.Brand}}</td>
                                    </tr>
                                    <tr class="custom-row">
                                        <td class="custom-cell">Модель</td>
                                        <td class="custom-cell">{{.Item.Specifications.Model}}</td>
                                    </tr>
                                    <tr class="custom-row">
                                        <td class="custom-cell">Экран</td>
                                        <td class="custom-cell">{{.Item.Specifications.ScreenSize}}</td>
                                    </tr>
                                    <tr class="custom-row">
                                        <td class="custom-cell">Resolution</td>
                                        <td class="custom-cell">{{.Item.Specifications.Resolution}}</td>
                                    </tr>
                                    <tr class="custom-row">
                                        <td class="custom-cell">Refresh rate</td>
                                        <td class="custom-cell">{{.Item.Specifications.RefreshRate}}</td>
                                    </tr>
                                    <tr class="custom-row">
                                        <td class="custom-cell">SmartTV</td>
                                        <td class="custom-cell">{{.Item.Specifications.SmartTV}}</td>
                                    </tr>
                                </table>
                            </div> 


                        </div>
                    </div>

                    </div>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Магазин товаров. Все права защищены.</p>
    </footer>
</body>
</html>
