<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>

    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <div class="header">
        <header>
            <h1>User Login</h1>
        </header>
    </div>    

    {{ template "navigation" . }}

    <div class="page-wrapper">
        <div class="login-container">
            <h3>Я молодчина! Я нашел способ и сделал выгрузку 2 файлов сразу!</h3>
            {{if .ErrorMessage}}
                <div class="error">{{.ErrorMessage}}</div>
            {{end}}
            <form action="/login" method="post">
                <label for="userName">User name:</label><br>
                <input type="text" id="userName" name="userName" required><br>

                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br><br>

                <input type="submit" value="Login">
            </form>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Магазин товаров. Все права защищены.</p>
    </footer>
</body>
</html>


