<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products store</title>
    <link rel="icon" href="/static/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/img/favicon/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='/static/css/main.css'>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.buy-button').forEach(button => {
                button.addEventListener('click', (e) => {
                    const productDetails = e.target.closest('.product-details');
                    const quantityInput = productDetails.querySelector('.quantity-input');
                    const productId = parseInt(e.target.dataset.productId, 10);
                    const quantity = parseInt(quantityInput.value, 10);

                    fetch('/add-to-cart', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ product_id: productId, quantity: quantity })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert('Товар добавлен в корзину!');
                        } else {
                            alert('Ошибка при добавлении товара в корзину.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Ошибка при добавлении товара в корзину.');
                    });
                });
            });
        });

    </script>
</head>
<body>
    <div class="header">
        <header>
            <h1>Products store </h1>
        </header>
        <div class="condition-auth">
            {{if .UserCookie.UserName}}
            <p>Привет, {{.UserCookie.UserName}}! <a href="/logout">Выйти</a></p>
            {{else}}
            <p> Пожалуйста, <a href="/login">войдите</a></p>
            {{end}}
        </div>
    </div>

    {{ template "navigation" . }}

    <div class="page-wrapper">
        <div class="product-container">
            <div class="product-list">
                {{range .Products}}
                <div class="product-item">
                    <img src="/{{.ImageURL}}" alt="{{.Name}}" class="product-image">
                    <h3>{{.Name}}</h3>
                    <p>Price: ${{.Price}}</p>
                    <div class="product-details">
                        <button class="buy-button" data-product-id="{{.ID}}">Купить</button>
                        <input type="number" value="1" min="1" class="quantity-input">
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Магазин товаров. Все права защищены.</p>
    </footer>
</body>
</html>