<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оформление заказа</title>
    <link rel="icon" href="/static/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteButtons = document.querySelectorAll('.delete-button');
    
            deleteButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const itemID = this.getAttribute('data-id');
    
                    fetch(`/delete-item/${itemID}`, {
                        method: 'DELETE'
                    })
                    .then(response => {
                        if (response.ok) {
                            const itemElement = this.closest('tr'); // Corrected to find the closest table row
                            if (itemElement) {
                                itemElement.remove();
                            }
                        } else {
                            response.text().then(text => alert(`Failed to delete item: ${text}`));
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Failed to delete item');
                    });
                });
            });
        });
    </script>
</head>
<body>
    <div class="header">
        <header>
            <h1>My items</h1>
        </header>
        <div class="condition-auth">
            {{if .UserName}}
            <p>Привет, {{.UserName}}! <a href="/logout">Выйти</a></p>
            {{else}}
            <p>Пожалуйста, <a href="/login">войдите</a></p>
            {{end}}
        </div>
    </div>

    {{template "navigation" .}}

    <div class="page-wrapper">
        <div class="list-container">
            <h2>Create item:</h2>

            <div class="profile-list">
                <div class="listusersaleitems">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Dynamic Fields</th>
                                <th>Description Fields</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Items}}
                            <tr class="item">
                                <td>{{.ID}}</td>
                                <td><a href="/item/{{.ID.Hex}}">{{.Name}}</a></td>
                                <td>$ {{.Price}}</td>
                                <td>{{.Quantity}}</td>
                                <td>
                                    {{range .DynamicFields}}
                                        {{.FieldName}}: {{.FieldValue}}<br>
                                    {{else}}
                                        None
                                    {{end}}
                                </td>
                                <td>
                                    {{range .DescriptionFields}}
                                        {{.}}<br>
                                    {{else}}
                                        None
                                    {{end}}
                                </td>
                                <td>
                                    <button class="delete-button" data-id="{{.ID.Hex}}">Delete</button>
                                </td>
                            </tr>
                            {{else}}
                            <tr>
                                <td colspan="7">No items found</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Магазин товаров. Все права защищены.</p>
    </footer>
</body>
</html>
