<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products store</title>

    <!-- <link rel="stylesheet" href="/static/css/main.css"> -->
    <link rel='stylesheet' href='/static/css/main.css'>

   
</head>
<body>
    <header>
        <h1>Products store</h1>


    </header>
    

    {{ template "navigation" . }}

    <div class="product-container">
        <div class="product-list">
            {{range .Products}}
                <div class="product-item">
                    <h3>{{.Name}}</h3>
                    <p>Price: ${{.Price}}</p>
                    <!-- Дополнительные поля товара, если есть -->
                    <!-- <p>ID: {{.ID}}</p> -->
                    <!-- <img src="..." alt="Product Image"> -->
                    <button class="buy-button">Купить</button>
                </div>
            {{end}}
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Магазин товаров. Все права защищены.</p>
    </footer>
</body>
</html>
