<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{/* <meta name="viewport" content="width=device-width, initial-scale=1.0"> */}}
    {{/* <link rel="stylesheet" href="web/css/style.css"> */}}
    <link rel="stylesheet" href="web/css/style.css">
    {{/* <link rel="stylesheet" href="style.css"> */}}
    <title>Products</title>

    {{ template "style" }}

</head>

<body>
    {{ template "navigation" }}

    <h1>TEST</h1>
    
    <h1>Products</h1>
    {{range .Products}}
        <div class="product">
           <h3>{{.Name}}</h3>
           <p>Price: ${{.Price}}</p>
           <button class="buy-button">Купить</button>
        </div>
    {{end}}


    {{/* <div class="products-container">
        {{range .}}
            <div class="product">
                <h3>{{.Name}}</h3>
                <p>Price: ${{.Price}}</p>
                <!-- Дополнительные поля товара, если есть -->
                <!-- <p>ID: {{.ID}}</p> -->
                <!-- <img src="..." alt="Product Image"> -->
                <button class="buy-button">Купить</button>
            </div>
        {{end}} 
    </div>  */}}


</body>
</html>
