    body {
        background-color: #292929;
        color: #e75500;
        margin: 0; /* Убирает отступы по умолчанию */
        font-family: Arial, sans-serif; /* Добавьте шрифт для лучшего отображения текста */
    }

    .page-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        min-height: 70vh;
        padding: 10px 0; /* Уменьшаем верхний и нижний отступ */
    }
    
    

    /* ====================================== head ============================================ */

    .header {
        display: flex;
        align-items: center;
        height: 100px; /* или любой другой желаемый размер */
        max-width: 900px; /* максимальная ширина контейнера */
        margin: 0 auto; /* центрирование контейнера по горизонтали */
        text-align: center; /* центрирование текста */
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; /* центрирование текста */
    }

    .condition-auth {
        min-width: 200px;
        height: 100px;
        padding: 28px;
        text-align: left;
        box-sizing: border-box; /* включает padding и border в ширину и высоту блока */
    }

    /* ===================================== UI elem ========================================== */

    h1, h3 {
        color: #e75500;
    }

    /* Стили для навигации и контейнера товаров */
    nav {
        background-color: #333;
        overflow: hidden;
    }

    nav ul {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        display: block;
        color: rgb(228, 72, 0);
        text-align: center;
        padding: 14px 12px;
        text-decoration: none;
        font-weight: bold; /* или другое значение, например, 600 */
        font-size: 18px;
        }

    nav ul li a:hover {
        background-color: #111;
    }

    /* ===================================== /products ========================================== */

    .product-container {
        display: flex;
        justify-content: center;
        align-items: flex-start; /* Выравнивание по верхнему краю */
        flex-wrap: wrap; /* позволяет переносить элементы на новую строку, если они не помещаются */
        width: 1100px;
        gap: 20px; /* расстояние между элементами */
        border: 1px solid #d86100;
        margin-top: 20px;
        padding-top: 20px; /* Отступ сверху */
        border-radius: 8px; /* Скругление углов */
    }

    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 300mm; /* Процентное значение ширины контейнера товаров */
    }

    .product-item {
        width: 200px;
        height: 170px;
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #ccc;
        background-color: #333; /* Цвет фона для лучшего отображения на темном фоне */
        text-align: center;
        /* display: inline-block; */
        /* box-sizing: border-box; */
    }

    .buy-button {
        display: block;
        width: 100%;
        background-color: #089403;
        color: #fff;
        text-align: center;
        padding: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
    }

    .buy-button:hover {
        background-color: #0056b3;
    }

    /* ===================================== /account ========================================== */

    .profile h3, .profile p, .profile h4, .profile h5 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .profile-container, .account-edit-container {
        display: flex;
        justify-content: center;
        align-items: flex-start; /* Выравнивание по верхнему краю */
        flex-wrap: wrap; /* позволяет переносить элементы на новую строку, если они не помещаются */
        width: 1100px;
        min-height: 590px;
        gap: 20px; /* расстояние между элементами */
        border: 1px solid #d86100;
        margin-top: 20px;
        padding-top: 20px; /* Отступ сверху */
        border-radius: 8px; /* Скругление углов */
    }

    /* Стили для input с короткой длиной */
    .short-input {
        width: 300px; /* или любое другое значение, которое вам нужно */
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    /* Стили для контейнера формы */
    .account-edit-container form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 320px; /* ограничение ширины формы */
        margin: auto;
    }

    /* Стили для меток */
    .account-edit-container label {
        margin-top: 10px;
        margin-bottom: 5px;
    }


    .profile-list {
        display: flex;
        flex-wrap: wrap; /* позволяет элементам переноситься на следующую строку */
        gap: 20px; /* расстояние между элементами */
        justify-content: center; /* выравнивание элементов по центру */
    }

    .profile {
        width: 620px; /* одинаковая ширина для всех элементов */
        height: 220px;
        padding: 15px;
        border: 1px solid #ccc;
        text-align: left;
        background-color: #333; /* Цвет фона для лучшего отображения на темном фоне */
        box-sizing: border-box; /* включает padding и border в ширину и высоту блока */
    }

    .bonus {
        width: 300px; /* одинаковая ширина для всех элементов */
        height: 220px;
        padding: 15px;
        border: 1px solid #ccc;
        text-align: left;
        background-color: #333; /* Цвет фона для лучшего отображения на темном фоне */
        box-sizing: border-box; /* включает padding и border в ширину и высоту блока */
    }

    .cart, .history, .favorites {
        width: 300px; /* одинаковая ширина для всех элементов */
        height: 220px;
        padding: 15px;
        border: 1px solid #ccc;
        text-align: left;
        background-color: #333; /* Цвет фона для лучшего отображения на темном фоне */
        box-sizing: border-box; /* включает padding и border в ширину и высоту блока */
    }

   /* ===================================== /administrator ========================================== */
   
    .admin-container {
        width: 1100px;
        min-height: 600px;
        display: flex;
        justify-content: center;
        align-items: flex-start; /* Выравнивание по верхнему краю */
        margin-top: 20px;
        gap: 20px; /* расстояние между элементами */
        flex-wrap: wrap; /* позволяет переносить элементы на новую строку, если они не помещаются */
        border: 1px solid #d86100;
        border-radius: 8px; /* Скругление углов */
        padding-top: 20px; /* Отступ сверху */
    }

    .table-users {
        display: flex;
        flex-direction: column; /* Изменить на column для вертикального размещения */
        justify-content: center; /* выравнивание элементов по центру */
        align-items: center;
        margin-bottom: 20px;
    }

   /* ===================================== /users-orders ========================================== */
   
    .orders-container {
        width: 1100px;
        min-height: 600px; /* Минимальная высота бокса, но позволить элементу увеличиваться по высоте, если содержимое больше. */
        display: flex;
        justify-content: center;
        align-items: flex-start; /* Выравнивание по верхнему краю */
        margin-top: 20px;
        gap: 20px; /* расстояние между элементами */
        flex-wrap: wrap; /* позволяет переносить элементы на новую строку, если они не помещаются */
        border: 1px solid #d86100;
        border-radius: 8px; /* Скругление углов */
        padding-top: 20px; /* Отступ сверху */
    }

   /* ================================== /login ===================================================== */
   
   .login-container {
        width: 100%;
        max-width: 400px; /* Максимальная ширина контейнера */
        min-height: 400px; /* Минимальная высота контейнера */
        display: flex;
        flex-direction: column; /* Вертикальное расположение элементов */
        justify-content: center;
        align-items: center; /* Выравнивание по центру */
        padding: 20px;
        background-color: #333; /* Фоновый цвет контейнера */
        border: 1px solid #d86100;
        border-radius: 8px; /* Скругление углов */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для контейнера */
    }

    label, input[type="submit"], .error {
        color: #e75500;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #d86100;
        border-radius: 4px;
        background-color: #292929;
        color: #e75500;
    }

    input[type="submit"] {
        padding: 10px;
        margin: 20px 0;
        border: 1px solid #d86100;
        background-color: #e75500;
        color: #fff;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #d86100;
    }

   /* ===================================== /rigistration ========================================== */
   
   .registr-container {
        width: 100%;
        max-width: 400px; /* Максимальная ширина контейнера */
        min-height: 400px; /* Минимальная высота контейнера */
        display: flex;
        flex-direction: column; /* Вертикальное расположение элементов */
        justify-content: center;
        align-items: center; /* Выравнивание по центру */
        padding: 20px;
        background-color: #333; /* Фоновый цвет контейнера */
        border: 1px solid #d86100;
        border-radius: 8px; /* Скругление углов */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для контейнера */
    }

   /* ===================================== /list ========================================== */
   
    .list-container {
        width: 1100px;
        min-height: 600px;
        display: flex;
        flex-direction: column; /* Вертикальное расположение элементов */
        justify-content: center;
        align-items: center; /* Выравнивание по центру */
        padding: 20px;
        background-color: #333; /* Фоновый цвет контейнера */
        border: 1px solid #d86100;
        border-radius: 8px; /* Скругление углов */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для контейнера */
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    
   /* ===================================== /cart ========================================== */
   
    .cart-container {
        width: 1100px;
        min-height: 600px;
        display: flex;
        flex-direction: column; /* Вертикальное расположение элементов */
        justify-content: center;
        align-items: center; /* Выравнивание по центру */
        padding: 20px;
        background-color: #333; /* Фоновый цвет контейнера */
        border: 1px solid #d86100;
        border-radius: 8px; /* Скругление углов */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для контейнера */
    }

   /* ===================================== other ========================================== */
   
    /* Стили для подвала */
    footer {
        text-align: center;
        padding: 10px; /* Уменьшаем верхний и нижний отступ */
        background-color: #3b3b3b;
    }
    